@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");
body {
  background: #3d3d3d;
  font-family: 'Robot Mono', monospace;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.fas, .far {
  margin-right: 6px;
}

.hide {
  display: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button > .far {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #333;
}

button:hover > .far {
  color: #fff;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
}

.main-container > h1 {
  font-size: 26pt;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0;
}

.main-container > h1 > i.fas {
  color: #00ccff;
}

.main-container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-container > div > .values {
  background: #545454;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  border-radius: 7px;
  margin-right: 100px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.main-container > div > .values > div {
  margin: 7px 0;
  width: 100%;
}

.main-container > div > .values > div > h3 {
  margin: 0;
  font-size: 14pt;
  font-weight: 300;
  width: 100%;
}

.main-container > div > .values > div > input {
  background: #3d3d3d;
  color: #f5f5f5;
  font-size: large;
  padding: 5px;
  margin-top: 3px;
  border: solid 1px #272727;
  border-radius: 3px;
  width: 100%;
}

.main-container > div > .box {
  height: 60vh;
  width: 60vh;
  padding: 15px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  /* border-radius: 0 10px 50px 150px; */
}

.main-container > div > .box > span {
  resize: none;
  color: #333;
  background: #f5f5f5;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 4px;
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  font-size: 9pt;
}

.main-container > div > .box > button {
  background: none;
  border: solid 2px #00ccff;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
  color: #333;
  border-radius: 3px;
  padding: 5px;
  font-size: 12pt;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-top: 10px;
}

.main-container > div > .box > button:hover {
  background: #00ccff;
  color: #fff;
}
/*# sourceMappingURL=styles.css.map */